Package: modemmanager
Version: 1.18.12+RPI
Depends: RPI-libqmi-glib, RPI-libqrtr-glib, RPI-libmbim-glib
Maintainer: Kaloian Manassiev
Architecture: armhf
Description: ModemManager for the RuralPipe dependencies
