.build/
.config.old

build.log

build/*
!build/README.md

staging/*.deb
staging/modemmanager/lib
staging/modemmanager/usr
staging/RPI-dbus/usr
staging/RPI-libglib2.0/usr
staging/RPI-libmbim-glib/usr
staging/RPI-libqmi-glib/usr
staging/RPI-libqrtr-glib/usr
staging/RPI-openssl/usr
staging/RPI-python3.11/usr

sysroot/*
!sysroot/README.md
