.build/
.config.old

build.log

build/*
!build/README.md

staging/*.deb
staging/RPI-DBus/usr
staging/RPI-Glib/usr
staging/RPI-GlibC/usr
staging/RPI-LibMBIM/usr
staging/RPI-LibQMI/usr
staging/RPI-LibQRTR/usr
staging/RPI-ModemManager/lib
staging/RPI-ModemManager/usr
staging/RPI-OpenSSL/usr
staging/RPI-Python3/usr

sysroot/*
!sysroot/README.md
